*{
    box-sizing:border-box;
}

body{
    background-color:rgb(117, 115, 235);
    font-size:25px;
    
}

img{
    max-width:300px;
}

.object{
    background-color:rgb(162, 252, 222);
    width:100px;
    height:100px;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:47%;
    transition: background-color .5s, transform .5s, border-radius .5s;
    cursor:pointer;
}

.object:hover{
    background-color:rgb(201, 181, 255);
    transform: scale(2);
    border-radius:0;
}

.special{
    color:rgb(162, 252, 222);
}

.special:hover{
    color:rgb(105, 20, 145);
    cursor:crosshalf;
}

.hidden{
    position:absolute;
    bottom:10px;
    left:10px;
    opacity:0;
    transition:opacity .5s;
}

.XD-text{
    top:10px;
    right:10px;
    bottom:auto;
    left:auto;
}

.special:hover + .hidden{
    opacity:1;

}

.interesting li:nth-of-type(2){
    color:rgb(201, 218, 49);
}


.interesting li:nth-of-type(3){
    color:rgb(49, 218, 148);
}